<div class="form">
    <header class="child-header"><span>About MMC</span>
    </header>
    <form name="info" id="info">
        <div class="form-row">
            <div class="label">Content</div>
            <div><wysiwyg-edit type="text"  id="content" name="content" content="presidentClone.content"></wysiwyg-edit></div>
        </div>
        
        <div class="form-row">
            <input type="submit" class="btn btn-primary btn-save" value="save" ng-click="add()"/>
            <input type="submit" class="btn btn-primary btn-save" value="reset" ng-click="reset()"/>
        </div>
    </form>
</div>