<div class="list">
    <header class="child-header">Events</header>
    <header class="list-header1">
        <a class="btn btn-primary icon ion-plus-circled" ui-sref="dashboard.event.add">Add</a>
        <div class="search-tab"><input type="search" ng-model="search"></div>
    </header>
    <section class="list-container">
        <div class="list-row row" ng-repeat="event in events | filter:search">
            <div class="col col-4" ng-bind-html="event.eventName | highlight:search"></div>
            <div class="col col-2 last-col">
                <a class="icon ion-edit" ui-sref="dashboard.event.edit({ id: event.eventId })"></a><a class="icon ion-trash-b"></a>
            </div>
        </div>
    </section>
</div>