<div class="form">
    <header class="child-header"><span>Add Home Page</span></header>
    <label for="info" class="form-label">Event Information</label>
    <form name="info" id="info">
        
        <div class="form-row">
            <div class="label">Image File</div>
            <div><input type="file" name="description" ng-model="homePageImage"></div>
        </div>
        <div class="form-row">
            <div class="label">Content File</div>
            <div><input type="file" name="description" ng-model="homePageImage"></div>
        </div>
        <div class="form-row">
            <input type="submit" class="btn btn-primary btn-save" value="add" ng-click="uploadFiles()"/>
        </div>
    </form>
</div>