<div class="list">
    <header class="child-header">Tickets</header>
    <header class="list-header1">
        <a class="btn btn-primary icon ion-plus-circled" ui-sref="dashboard.ticket.add">Add</a>
        <div class="search-tab"><input type="search" ng-model="search"></div>
    </header>
    <section class="list-container">
        <div class="list-row row" ng-repeat="ticket in tickets | filter:search">
            <div class="col col-4" ng-bind-html="ticket.ticketName | highlight:search"></div>
            <div class="col col-2 last-col">
                <a class="icon ion-edit" ui-sref="dashboard.ticket.edit({ ticketId: ticket.ticketId })"></a><a class="icon ion-trash-b" ng-click="delete(ticket)"></a>
            </div>
        </div>
    </section>
</div>